@charset "utf-8";

:root {
  --main-bg-color: #0D5B91;
  --detail-btn-color: orange;
  --rest-title-color: black;
}

/* CSS Document */
html {
  max-width: 100%;
  min-height: 100%;
}

body {
	background-color: #fdfdfd;
  margin: 0;
  position:relative;
  max-width: 100%;
  height: 100%;
}

#navbar {
  max-width: 100%;
}

#maincontent {
  background-color: #f3f3f3;
  max-height: 100%;
  max-width: 100%;
}
#footer {
  max-width: 100%;
  background-color: #444;
  color: white;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333;
}
a {
	color: var(--detail-btn-color);
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
/* article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}*/ 


/* ====================== Navigation ====================== */
nav {
  max-width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
 nav h1 {
  margin: auto;
  max-height: 100%;
} 
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  max-height: 100%;
}

/* #breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    max-width: 100%;
} */

.breadcrumb {
  padding: 5px 40px 8px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  max-width: 100%;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  text-align: left;
}

/* Display list items side by side */
.breadcrumb li {
    display: inline-block;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 .25em;
  transform: rotate(15deg);
  border-right: .1em solid currentColor;
  height: .8em;
  content: '';
}

/* .breadcrumb li + li::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
} */

.breadcrumb [aria-current="page"] {
  color:#000;
  font-weight: 700;
  text-decoration: none;
}

/* Add a color to all links inside the list */
.breadcrumb li a {
    color: var(--detail-btn-color);
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
    color:white;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  max-width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: grid;
  grid-template: repeat(2,50px) / repeat(2,1fr);
  grid-gap: 2px;
  max-width: 100%;
  height: 100px;
  background-color: var(--main-bg-color);
  align-items: center;
}
.filter-options h2 {
  grid-column: 1 / 3;
  color: white;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 40px;
  letter-spacing: 0;
  max-width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  max-width: 100%;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 200px;
  min-width: 100%;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 10px 30px 25px;
  text-align: left;
  max-width: 100%;
}

#restaurants-list li h3 {
  color: var(--rest-title-color);
  font-family: Arial,sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.5em;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  /* color: #fff; */
  color: black;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li .favorite {
  font-size:3em; 
  display: block;
  padding-left: 80%;
  width: 48px;
  height: 48px;
  color: var(--detail-btn-color);
}

@media screen and (min-width: 400px ){
  #restaurants-list .restaurant-img {
    min-height: 248px;
  }
}

@media screen and ( min-width: 768px) {
  nav h1 a {
    font-size: 1.3em;
  }

  #restaurants-list {
    grid-template-columns: 1fr 1fr;
  }

  #restaurants-list .restaurant-img {
    min-height: 200px;
  }

  #restaurants-list li h3 {
    font-size: 2em;
  }

  #restaurants-list p{
    font-size: 2em;
  }

  .filter-options h2 {
    font-size: 1.5em;
  }
  
  .filter-options select {
    font-size: 1.2em;
  }

  #footer {
    font-size: 1.2em;
  }  
}

@media screen and ( min-width: 1024px ) {
  body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #restaurants-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #restaurants-list li {
    padding: 10px 4px 4px;
    margin: 10px;
    min-height: 350px;
    max-width: 800px;
  }

  #restaurants-list li h3 {
    font-size: 1.5em;
  }

  #restaurants-list p{
    font-size: 1.2em;
  }

  #restaurants-list li a {
    font-size: 8pt;
  }
}




/* ====================== Restaurant Details ====================== */
body.inside {
  max-width: 100%;
  min-height: 100%;
  justify-content: center;
}

.inside {
  position: relative;
  max-width: 100%;
}
.inside header {
  position: relative;
  top: 0;
  max-height: 80px;
  max-width: 100%;
  z-index: 1000;
}

.inside #maincontent {
  max-width: 100%;
  max-height: 100%;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  position: relative;
  top: 0px;
  max-width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: relative;
  max-width: 100%;
  bottom: 0;
}

#restaurant-name {
  color: var(--detail-btn-color);
  font-family: Arial,sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  max-width: 100%;
}
#restaurant-img {
  max-width: 100%;
}
#restaurant-address {
  font-size: 1em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	max-width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 35px 30px;
  max-width: 100%;
  justify-content: center;
}
#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h4 {
  color:  var(--detail-btn-color);
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#review-form {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  max-width: 100%;
  border-radius: 20px;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  grid-template-columns: 1fr 1fr;
}

#review-form h5{
  width: 100%;
  font-size: 1em;
  grid-column: 1/3;
}

#review-form label{
  width: 100%;
  font-size: 1em;
  grid-column: 1/3;
}

#review-form input{
  width: 100%;
  height: 48px;
  border: 0;
  font-size: 1em;
  grid-column: 1/3;
}

#review-form textarea{
  width: 100%;
  font-size: 1em;
  grid-column: 1/3;
}

#review-form button{
  width: 100%;
  height: 48px;
  background-color: var(--detail-btn-color);
  color: #fff;
  border-radius: 10px;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  /* display: block; */
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  max-width: 100%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
#reviews-list li p {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.reviewListName {
  grid-column: 1/2;
}

.reviewListDate {
  grid-column: 2/3;
  align-content:flex-end;
}

.reviewListRating, .reviewListReview {
  grid-column: 1/3;
}

#restaurant-hours {
 max-width: 100%;
}

#restaurant-hours td {
  color: #666;
  font-size: 1em;
}


@media screen and ( min-width: 768px) {
  #restaurant-container, #reviews-container {
    font-size: 2.5em;
    padding: 40px 70px 30px;
  }

  #restaurant-cuisine {
    font-size: 1em;
  }

  #restaurant-address {
    font-size: 0.5em;
  }

  #restaurant-hours td {
    font-size: 0.5em;
  }

  #reviews-container h2 {
    font-size: 1em;
  }

  #reviews-list li p {
    font-size: 0.8em;
  }

  #review-form h5,
  #review-form label,
  #review-form input,
  #review-form textarea{
    font-size: 0.6em;
  }

  #review-form button {
    font-size: 0.6em;
  }

}

@media screen and ( min-width: 1025px ) {
  body.inside {
    max-width: 80%;
  }
}


.skip-link,
.skip-link-rest {
  position: absolute;
  top: -40px;
  left: 0;
  background: #BF1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus{
  top: 0;
}
.skip-link-rest:focus {
  top: 0;
}